<% comments.order('voteCount DESC').each do |p| %>
	<div class="col-xs-12 post">
		<div class="vote_container">
			<% userVote = p.votes.find_by(user_id: session[:user_id], post_id: p.id) %>

			<button id=<%= p.id.to_s %> class="glyphicon glyphicon-menu-up post_up_vote" aria-hidden="true"
				<% if userVote != nil and !userVote.isDownvote%>
					disabled
				<%end%>>
			</button>

			<p><span id=<%= "post_votes#" + p.id.to_s %>><%= p.voteCount %></span></p>

			<button id=<%=  p.id.to_s %> class="glyphicon glyphicon-menu-down post_down_vote" aria-hidden="true"
				<% if userVote != nil and userVote.isDownvote%>
					disabled
				<%end%>>
			</button>
		</div>

		<div class="text_container">
			<p class="user"><%= User.find(p.user_id).name + " - " + p.created_at.to_s %></p>

			<div class="edit">
				<% if p.user_id == session[:user_id]%>
					<%= link_to 'Edit |', edit_post_path(p)%> 
					<%= link_to 'Delete', p, method: :delete, data: {confirm: "Are you sure?"} %>
				<% end %>
			</div>

			<p class="content"><%= p.content %></p>

			<div class="bar">
				<a class="btn answer" id="<%= p.id.to_s %>">Reply</a>
			</div>
		</div>

		<div class="answer_div" id="<%= "answer" + p.id.to_s %>"></div>

		<div id="comments">
			<%= render partial: 'forums/comments', locals: { comments: p.comments } %>
		</div>		
	</div>
<% end %>