<%= javascript_include_tag "topics" %>

<% first = (page.to_i - 1) * topicsPerPage.to_i %>
<% last = (@topics.size() - first) %>
<% if last <= 0 %>
	<% last = 0 %>
<% end %>
<% topicList = @topics.last(last).first(topicsPerPage.to_i) %>
<% topicList.each do |t| %>
	<div class="col-xs-12 topic">
		<%= link_to "", t, class: "topic_link" %>
		<div>
			<div class="vote_container">
				<button id=<%= t.id.to_s %> class="glyphicon glyphicon-menu-up up_vote" aria-hidden="true"
				<% if !t.votes.find_by(user_id: session[:user_id], topic_id: t.id).isDownvote%>disabled<%end%>></button>
				<p><span id=<%= "votes#" + t.id.to_s %>><%= t.upvotes - t.downvotes %></span></p>
				<button id=<%=  t.id.to_s %> class="glyphicon glyphicon-menu-down down_vote" aria-hidden="true"
				<% if t.votes.find_by(user_id: session[:user_id], topic_id: t.id).isDownvote%>disabled<%end%>></button>
			</div>
			<div class="image_container">
				<%= image_tag t.image, class: "logo img-responsive" %>
			</div>
			<h4><%= t.title %></h4>
			<p>Created by: <%= User.find(t.user_id).name %></p>
			<p>Posts: <%= t.postCount %></p>
		</div>
	</div>
<% end %>