<%= javascript_include_tag "posts" %>

<% @posts.each do |p| %>
	<div class="col-xs-12 post">
		<div class="vote_container">
			<button id=<%= p.id.to_s %> class="glyphicon glyphicon-menu-up post_up_vote" aria-hidden="true"></button>
			<p><span id=<%= "votes#" + p.id.to_s %>><%= p.upvotes - p.downvotes %></span></p>
			<button id=<%=  p.id.to_s %> class="glyphicon glyphicon-menu-down post_down_vote" aria-hidden="true"></button>
		</div>
		<p><%= p.content %></p>
	</div>
<% end %>