<%= form_for(@topic, url: {controller: "topics", action: "create"}) do |f| %>
  <% if @topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% @topic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control", placeholder: "Enter title" %>
    </div>
    <div class="form-group" style="display: none;">
      <%= f.label :forum_id %>
      <%= f.text_field :forum_id, class: "form-control", placeholder: "Enter forum", value: @forum.id %>
    </div>
    <div class="form-group">
      <%= f.label :content %>
      <%= f.text_area :content, class: "form-control tinymce", id: "content-editor", rows: "30", placeholder: "Content" %>
      <%= tinymce %>
    </div>
    <%= f.submit class: "btn btn-primary" %>
  </form>

<% end %>
