<%= javascript_include_tag "topics" %>
<%= javascript_include_tag "posts" %>

<%= stylesheet_link_tag "posts" %>
<%= stylesheet_link_tag "projects" %>

<div id='data' data-page='1' data-interval=<%= @postsInterval %> data-size=<%= @posts.size() %> data-topic=<%= @topic.id %>></div>

<div id="topic">
	<div class="col-xs-12 main_topic">
		<div class="vote_container">
			<button id=<%= @topic.id.to_s %> class="glyphicon glyphicon-menu-up up_vote" aria-hidden="true" 
				<% if !@topic.votes.find_by(user_id: session[:user_id], topic_id: @topic.id).isDownvote%>disabled<%end%>></button>
			<p><span id=<%= "votes#" + @topic.id.to_s %>><%= @topic.upvotes - @topic.downvotes %></span></p>
			<button id=<%=  @topic.id.to_s %> class="glyphicon glyphicon-menu-down down_vote" aria-hidden="true"
			<%if @topic.votes.find_by(user_id: session[:user_id], topic_id: @topic.id).isDownvote%>disabled<%end%>></button>
		</div>
		<div class="image_container">
			<%= image_tag @topic.image, class: "logo img-responsive" %>
		</div>
		<h4><%= @topic.title %></h4>
		<p><%= @topic.content %>
		<p>Posts: <%= @topic.postCount %></p>
	</div>
</div>

<div id="posts">
	<%= render partial: 'forums/posts', locals: { page: 1, postsPerPage: @postsInterval } %>
</div>

<div id="post">
	<%= render partial: 'forums/postForm' %>
 </div>