<%= javascript_include_tag "topics" %>
<%= javascript_include_tag "posts" %>

<%= stylesheet_link_tag "posts" %>
<%= stylesheet_link_tag "projects" %>

<p id="notice"><%= notice %></p>

<%= link_to 'Back', Project.find_by(forum_id: @topic.forum_id) %> |
<%= link_to 'All Projects', projects_path %>

<div id='data' data-page='1' data-interval=<%= @postsInterval %> data-size=<%= @posts.size() %> data-topic=<%= @topic.id %>></div>

<div id="topic">
	<div class="col-xs-12 main_topic">
		<div class="vote_container">
			<% userVote = @topic.votes.find_by(user_id: session[:user_id], topic_id: @topic.id)

			opacity = 1
			if !session[:user_id]
				opacity = 0.5
			end %>
			
			<button id=<%= @topic.id.to_s %> class="glyphicon glyphicon-menu-up up_vote" aria-hidden="true" style="opacity:<%= opacity %>" 
				<% if !session[:user_id] or (userVote != nil and !userVote.isDownvote)%>
					disabled 
				<%end%>>

			</button>

			<p><span id=<%= "votes_" + @topic.id.to_s %>><%= @topic.voteCount %></span></p>

			<button id=<%=  @topic.id.to_s %> class="glyphicon glyphicon-menu-down down_vote" aria-hidden="true" style="opacity:<%= opacity %>" 
				<% if !session[:user_id] or (userVote != nil and userVote.isDownvote)%>
					disabled
				<%end%>>
			</button>
		</div>

		<div class="image_container">
			<%= image_tag @topic.image, class: "logo img-responsive" %>
		</div>

		<div class="text_container">
			<h3><%= @topic.title %></h4>
			<div class="edit">
				<% if @topic.user_id == session[:user_id] || isAdmin %>
					<%= link_to 'Edit |', edit_topic_path(@topic)%> 
					<%= link_to 'Delete', @topic, method: :delete, data: {confirm: "Are you sure?"} %>
				<% end %>
			</div>
			<p id="created_by"><%= User.find(@topic.user_id).name + " - " + @topic.created_at.to_s %></p>
			<%= sanitize @topic.content, :tags => %w(a b i strong em p param h1 h2 h3 h4 h5 h6 br hr ul li img iframe) %>
		</div>
	</div>
</div>

<% if current_user %>
<div id="post">
	<%= render partial: 'posts/postForm' %>
</div>
<% end %>

<div class="posts">
	<%= render partial: 'posts/posts', locals: { page: 1, postsPerPage: @postsInterval } %>
</div>

<% if @posts.size > @postsInterval %>
	<div class="text-center">
		<a class="btn btn-primary" id="more_posts">Show More</a>
	</div>
<% end %>