<%= javascript_include_tag "leaderboard" %>

<div id='data' data-page=<%= @page %> data-interval=<%= @interval %> data-size=<%= @users.size %>>
</div>

<div class='container text-center'>
	<h1>Leaderboard</h1>
	<hr>
</div>


<div class='container'>
<!-- 	<div class='col-md-3'>
	</div>
	<div class='col-md-6'> -->
	<div id='leaderboard'>
		<%= render partial: 'leaderboard' %>
	</div>
<!-- 	</div>
	<div class='container col-md-3'>
	</div> -->
</div>

<div class="text-center" id="pageSelector">
	<button id="prev" class="btn btn-success glyphicon glyphicon-menu-left" aria-hidden="true"></button>
	<button id="next" class="btn btn-success glyphicon glyphicon-menu-right" aria-hidden="true"></button>
</div>
