<%= javascript_include_tag "leaderboard" %>
<!-- Hotjar Tracking Code for thepodium.io -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:85656,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>

<div id='data' data-page=<%= @page %> data-interval=<%= @interval %> data-size=<%= @users.size %>>
</div>

<%
page=nil
interval=nil
users=nil
%>

<div class='container text-center'>
	<h1>Leaderboard</h1>
	<hr>
</div>


<div class='container'>
<!-- 	<div class='col-md-3'>
	</div>
	<div class='col-md-6'> -->
	<div id='leaderboard'>
		<%= render partial: 'users/leaderboard', locals: {page:0, interval:10, users:User.all.order('points DESC')}%>
	</div>
<!-- 	</div>
	<div class='container col-md-3'>
	</div> -->
</div>

<div class="text-center" id="pageSelector">
	<button id="prev" class="btn btn-success glyphicon glyphicon-menu-left" aria-hidden="true"></button>
	<button id="next" class="btn btn-success glyphicon glyphicon-menu-right" aria-hidden="true"></button>
</div>
