<%= javascript_include_tag "users" %>

<div class="text-center" id="notice"><%= sanitize notice %></div>

<div id="data" data-page="1" data-interval=<%= @campaignsInterval %> data-size=<%= @user.campaigns.size %>></div>

<h1>Profile</h1>

<div class="col-sm-3">
	<% if !@user.image || @user.image == '' %>
	<%= image_tag getFacebookPicURL(@user), class: "img-responsive img-thumbnail" %>
	<% else %>
	<%= image_tag @user.image, class: "img-responsive img-thumbnail" %>
	<% end %>
</div>
<div class="col-sm-5">
	<h3 class="name-header">
		<%= @user.name %>
		<%= if @user.username != "" then "(" + @user.username + ")" end %>
		<% if @user == current_user %>
		<%= link_to "edit", edit_user_path(@user) %>
		<% end %>
	</h3>
	User created: <%= @user.created_at.strftime("%B %d, %Y") %><br />
	<% if @user.email != "" %>
	Email: <%= @user.email %><br />
	<% end %>
	<% if @user.location != "" %>
	Location: <%= @user.location %><br />
	<% end %>
	<% if @user.address != "" %>
	Address: <%= @user.address %><br />
	<% end %>
	<% if @user.phone != "" %>
	Phone: <%= @user.phone %><br />
	<% end %>
	Level: <%= @user.level %><br/>
	Experience: <%= @user.points %><br/>
	Number of Campaigns: <%= @user.campaigns.count %><br />
	Number of Forum Posts: <%= @user.posts.count %><br/>
	Number of Badges: <%= @user.badges.sum(:timesAchieved) %><br/>
	Submissions this round: <%=  @user.additionsThisRound %>/<%= Round.first.maxAdditionsPerUser %>
</div>
<div class="col-sm-4 badges">
	<% @user.badges.each do |b| %>
	<%= image_tag b.badge.imageUrl, class: "img-responsive img-thumbnail", width: "100px", style: "margin-top: 4px", title: b.badge.description, alt: b.badge.name %>
	<% end %>
</div>

<% if @notifications.count != 0 %>
	<div class="col-sm-12 user-notifications">
		<div class="text-center" id="notification_button_container">
			<a class="btn btn-primary" id="show_notifications">Show Notifications</a>
		</div>
		<% @notifications.each do |n| %>
			<div class="text-center user-notifications2">
				<h5><%= n.description %></h5>
				<h5>You received <%= n.points_received %> points</h5>
				<h5>at <%= n.created_at %></h5>
			</div>
		<% end %>
		<script>
			$('.user-notifications2').slideToggle(0);
		</script>
	</div>
<% end %>

<div class="col-sm-12 user-nominations">
	<% if @userNominations.count != 0 %>
		<h4 class="text-center">My Nominations</h4>
	<% end %>
	<div class="user-nominations2">
		<% @userNominations.each do |c| %>
			<div class="col-sm-3 campaign">
				<%= link_to "", "/campaigns/" + c.id.to_s, class: "campaign_link" %>
				<% @campaign = c %>
				<%= render partial: 'campaigns/campaignSmall' %>
			</div>
		<% end %>
	</div>
</div>

<div class="col-sm-12 user-campaigns">
	<% if @userCampaigns.count != 0 %>
		<h4 class="text-center">My Campagins</h4>
	<% end %>
	<% i = 0 %>
	<div class="user-campaigns2">
		<% @userCampaigns.each do |c| %>
			<% break if i >= @campaignsInterval %>
			<div class="col-sm-3 campaign">
				<%= link_to "", "/campaigns/" + c.id.to_s, class: "campaign_link" %>
				<% @campaign = c %>
				<%= render partial: 'campaigns/campaignSmall' %>
			</div>
			<% i += 1 %>
		<% end %>
	</div>
	<% if i >= 8 %>
		<div class="text-center">
			<a class="btn btn-primary" id="more_campaigns">Show More</a>
		</div>
	<% end %>
</div>
