
<% round = Round.first
winnerCampaigns = round.winnerCampaigns.where(roundWon: round.currentRound)
if round != nil and winnerCampaigns != []
	winnerCampaigns.each do |wc| %>

		<div class="col-xs-3 campaign-container">
			<div class="text-center">
				<h3><%= (wc.placing+1).to_s %></h3>
			</div>

			<div class="campaign">
				<% c = wc.campaign %>
				<%= link_to "", "/campaigns/" + c.id.to_s, class: "campaign_link" %>
				<% @campaign = c %>
				<%= render partial: 'campaigns/campaignSmall'%>
			</div>
		</div>
	<% end %>


	<div class="col-xs-3 campaign-container">
		<div class="text-center">
			<h3>Champion of the round</h3>
		</div>

		<div class="campaign">
			<% user = RoundWinnerUser.find_by(roundWon: round.currentRound).user 
			if user != nil %>
				<%= link_to "", "/users/" + user.id.to_s, class: "campaign_link" %>
				<div class="image_container">
					<%= image_tag getFacebookPicURL(user), class: "logo img-responsive" %>
				</div>
				<h4><%= user.name %></h4>
				<h5>Level: <%= user.level %></h5>
				<h5>Experience: <%= user.points %></h5>
			<% end %>
		</div>
	</div>
<% end %>