<%= javascript_include_tag "home" %>

<script type="text/javascript">    
function hideButton(buttonElement){
	$('#pledge-modal').modal('hide');
}
</script>

<div id='news' data-page=1 data-interval=<%= @newsInterval %> data-size=<%= @allNews.size %>></div>

<div id='campaign' data-step=<%= current_user.isOnStep if current_user %> data-vote=-1></div>

<div id="voting"></div>

<div class="row start-voting-row">
	<div class="text-center">
		<% if current_user != nil %>
			<% if current_user.isOnStep > 0 and current_user.isOnStep < 4%>
				<button type="button" id="start-voting" class="btn btn-lg orange">CONTINUE</button>
			<% elsif current_user.isOnStep == 4 %>
				<button type="button" id="start-voting" class="btn btn-lg orange">Your votes</button>
			<% else %>
				<div class="container">
				  <!-- Trigger the modal with a button -->
				  <h2 id="vote-message" style="margin-bottom: 30px;">Have your say on this week's nominations!</h2>
				  
				  <!-- Start button -->
				  <button type="button" id="pledge-btn" data-toggle="modal" data-target="#pledge-modal"
				  <% if Campaign.where(votable: true).count<15 then %> 
				  	class="btn btn-lg orange disabled" 
				  	title="There is not enough nominations (<%= Campaign.where(votable: true).count %>/15) to start voting" 
				  	disabled 
				  <% else %> 
				  	class="btn btn-lg orange" 
				  <% end %>>START</button>
				  <!-- Start button end -->

				  <!-- Modal -->
				  <div class="modal fade" id="pledge-modal" role="dialog">
				    <div class="modal-dialog">
				    
				      <!-- Modal content-->
				      <div class="modal-content">
				        <div class="modal-header">
				          <button type="button" class="close" data-dismiss="modal">&times;</button>
				          <h4 class="modal-title">Pledge</h4>
				        </div>
				        <div class="modal-body">
				          <h2>I pledge my allegiance to <b>mother earth</b> and all her inhabitants. I will only promote content that I find <b>just</b> and <b>awesome</b>.</h2>
				        </div>
				        <div class="modal-footer">
				          <button type="button" id="start-voting" class="btn btn-default orange" data-dismiss="modal">Pledge and Play</button>
				        </div>
				      </div>
				    </div>
				  </div>
				</div>
			<% end %>
		<% else %>
			<h3 style="margin-bottom: 30px;"> Please log in to continue </h3>
		<% end %>
<!-- 		<a class="btn btn-success" id="back-voting" style="display: none;" onclick="$('#pledge-btn').show();">Close</a>
		<a class="btn btn-success" id="refresh-voting" style="display: none;">Get 3 New</a>
		<a class="btn btn-success" id="next-voting" style="display: none;">Next</a> -->
	</div>
</div>

<div class="empty" id="campaigns-news">
<!-- Podium -->
<div class="container winners"> 
	<div class="row title-container">
		<h3>Round Winners</h3>
		<hr>
	</div>
	<div class="row row-centered"> <!-- id="winners" -->
		<%= render partial: 'winners' %>
	</div>
</div>
<!-- Podium end -->

<!-- Leaderboards -->
<div class="container leaderboards">
	<div class="row title-container">
		<h3>Leaderboards</h3>
		<hr>
	</div>
	<div class="row leaderboard">
		<%= render partial: 'users/leaderboard', locals: {page:0, interval:10, users:User.all.order('points DESC')}%>
	</div>
</div>
<!-- Leaderboards end -->
</div>