<%= javascript_include_tag "home" %>

<div id='news' data-page=1 data-interval=<%= @newsInterval %> data-size=<%= @allNews.size %>></div>

<div id='campaign' data-step=<%= current_user.isOnStep if current_user %> data-vote=-1></div>

<div class="row header">
	<div class="text-center">
		<h2>Have your say on today's nominations!<h2>
		<h4 id="counter"></h4>
		<script>

// set the date we're counting down to
var target_date = new Date('<%= Round.first.endTime %>').getTime(); //new Date('Jan, 31, 2017').getTime(); <% Round.first.endTime.year %>, <% Round.first.endTime.month %>, <% Round.first.endTime.day %>, <% Round.first.endTime.hour %>, <% Round.first.endTime.min %>, <% Round.first.endTime.sec %>
 
// variables for time units
var days, hours, minutes, seconds;
 
// get tag element
var countdown = document.getElementById('counter');
 
// update the tag with id "countdown" every 1 second
setInterval(function () {
 
    // find the amount of "seconds" between now and target
    var current_date = new Date().getTime();
    var seconds_left = (target_date - current_date) / 1000;
 
    // do some time calculations
    days = parseInt(seconds_left / 86400);
    seconds_left = seconds_left % 86400;
     
    hours = parseInt(seconds_left / 3600);
    seconds_left = seconds_left % 3600;
     
    minutes = parseInt(seconds_left / 60);
    seconds = parseInt(seconds_left % 60);
     
    // format countdown string + set tag value
    document.getElementById("counter").innerHTML = "Votes are counted in "+
    // '<span class="days">' + days + ' Days </span>' 
    //'<span class="hours">' + hours + ' Hours </span>'
    '<span class="minutes">' + minutes + ' Minutes. </span>' 
    //+'<span class="seconds">' + seconds + ' Seconds </span>'
    ;

}, 1000);
</script>
		<!-- <a class="btn btn-success" id="pledge" href="pledge">pledge</a> -->
		<a class="btn btn-success" id="start-voting">Pledge and Play</a> 
		<a class="btn btn-success" id="back-voting" style="display: none;">Back</a>
		<a class="btn btn-success" id="next-voting" style="display: none;">Next</a>
	</div>
</div>

<div id="voting"></div>

<div id="campaigns-news">
	<div class="container" id="winner_container">
		<h3>Round Winners</h3>
		<hr class="campaigns-news-rule">
		<div class="row text-center" id="winners">
			<%= render partial: 'winners' %>
		</div>
	</div>
</div>
