<%= javascript_include_tag "home" %>

<div id='news' data-page=1 data-interval=<%= @newsInterval %> data-size=<%= @all_news.size %>></div>

<div id='campaign' data-step=<%= current_user.isOnStep if current_user %> data-vote=-1></div>

<div class="header">
	<div class="text-center">
		<p class="header-brand-text">Welcome to Profectus</p>
		<a class="btn btn-success" id="start-voting">Make a difference</a>
		<a class="btn btn-success" id="back-voting" style="display: none;">Back</a>
		<a class="btn btn-success" id="next-voting" style="display: none;">Next</a>
	</div>
</div>

<div id="voting">
	<% if current_user %>
		<% if Campaign.count <= 15 %>
			<h1>The are not enough campaigns to start voting yet!</h1>
		<% elsif @campaignVoting != nil and @campaignVoting.size > 0 %>
			<% if current_user.isOnStep <= 3 %>
				<%= render partial: 'campaigns/campaignVoting' %>
			<% else %>
				<%= render partial: 'campaigns/campaignVotingDone' %>
			<% end %>
		<% end %>
	<% else %>
		<div class="text-center">
			<h1>You need to log in to make a difference!</h1>
		</div>
	<% end %>
</div>

<div id="campaigns-news">
	<div class="text-center">
		<h1>Round Winners</h1>
		<div class="col-xs-12" id="winners">
			<%= render partial: 'winners' %>
		</div>
	</div>
	<div class="text-center">
		<h1>Top 8 Campaigns</h1>
		<div class="col-xs-12" id="campaigns">
			<%= render partial: 'campaigns/campaignList', locals: { page: 1, campaignsPerPage: 8 } %>
		</div>
	</div>

	<div class="text-center">
		<h1>Latest News</h1>
	</div>
	<div class="news_container">
		<%= render partial: 'news/news', locals: { page: 1, newsPerPage: @newsInterval }  %>
	</div>
	<% if @all_news.size > @newsInterval %>
		<div class="text-center">
			<a class="btn btn-primary" id="more_news">Show More</a>
		</div>
	<% end %>
</div>
