<% first = (page.to_i - 1) * newsPerPage.to_i %>
<% last = (@all_news.size() - first)%>
<% if last <= 0 %>
	<% last = 0 %>
<% end %>

<% @all_news.last(last).first(newsPerPage.to_i).each do |n| %>
	<div class="col-xs-12 news">
		<div class="text-news-container">
			<div class="edit text-right">
				<% if isAdmin %>
					<%= link_to 'Edit |', edit_news_path(n)%> 
					<%= link_to 'Delete', n, method: :delete, data: {confirm: "Are you sure?"} %>
				<% end %>
			</div>

			<h2 class="text-center"><%= n.title %></h2>

			<div class="content">
				<h5 class="created text-center"><%= n.created_at %></h5>
				<%= sanitize n.content, :tags => %w(a b i strong em p param h1 h2 h3 h4 h5 h6 br hr ul li img iframe) %>
			</div>
		</div>
	</div>
<% end %>