<div class="text-center">
<% @all_news.each do |n| %>
	<div class="col-xs-12 news">
		<div class="text_container">
			<div class="edit">
				<% if isAdmin %>
					<%= link_to 'Edit |', edit_news_path(n)%> 
					<%= link_to 'Delete', n, method: :delete, data: {confirm: "Are you sure?"} %>
				<% end %>
			</div>

			<h2 class="title"><%= n.title %></h2>
			<h5 class="created"><%= n.created_at %></h5>

			<div class="content">
				<%= sanitize n.content, :tags => %w(a b i strong em p param h1 h2 h3 h4 h5 h6 br hr ul li img iframe) %>
			</div>
		</div>
	</div>
<% end %>
</div>

<%= render partial: 'news/newsForm' %>