<%= stylesheet_link_tag "news" %>

<%= javascript_include_tag "news" %>

<div id='data' data-page=1 data-interval=<%= @newsInterval %> data-size=<%= @all_news.size() %>></div>

<div class="text-center" id="news_container">
	<%= render partial: 'front_news', locals: { page: 1, newsPerPage: 5 } %>
</div>

<div class="text-center" id="pageSelector" >
	<button id="prev" class="glyphicon glyphicon-menu-left" aria-hidden="true"></button>
	<button id="next" class="glyphicon glyphicon-menu-right" aria-hidden="true"></button>
</div>