<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%# Kriss started writing here%>

  <div class="actions">
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :tags %>
  <%= f.text_field :tags %>
  <%= f.label :logoLink %>
  <%= f.text_field :logoLink %>
  <%= f.label :description %>
  <%= f.text_area :description, size: "60x12" %>
  <%= f.label :content %>
  <%= f.text_area :content, size: "60x12" %>
  <%= f.submit %>
  </div>

    <%# Kriss stoped writing here%>

<% end %>
