<%= javascript_include_tag "projects" %>
<%= stylesheet_link_tag "projects" %>

<div id="categories">
<%= render partial: 'categories'%>
</div>

<div class="col-sm-12" id="searchBar">
	<div id="search">
		<input type="text" id="searchText"></input>
		<button id="searchButton">Search</button>
	</div>
	<div id="filter">
		<select name="filter" id="filter">
			<option value="1">Votes</option>
			<option value="2">Name</option>
		</select>
	</div>
</div>

<div id='data' data-page='1' data-interval=<%= @projectsInterval %> data-size=<%= @projects.size() %> data-category="0" data-search=""</div>

<div class="col-sm-12" id="projects">
	<%= render partial: 'projectList', locals: { page: 1, projectsPerPage: @projectsInterval} %>
</div>

<div id="pageSelector">
	<button id="prev" class="glyphicon glyphicon-menu-left" aria-hidden="true"></button>
	<button id="next" class="glyphicon glyphicon-menu-right" aria-hidden="true"></button>
</div>