<%= javascript_include_tag "forums" %>

<%= stylesheet_link_tag "projects" %>
<%= stylesheet_link_tag "topics" %>

<p id="notice"><%= notice %></p>

<%#Display Edit and Delete iff projectCreator = currentUser%>
<% if @project.user_id == session[:user_id] || isAdmin %>
  <%=  link_to 'Edit |', edit_project_path(@project)%> 
  <%= link_to 'Delete |', @project, method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>
<%= link_to 'Back', projects_path %>

<div class="col-xs-12 text-center">
  <h3><%= @project.title %></h3>
</div>

<div class="col-sm-6">
	<%= image_tag @project.logoLink, class: "logo img-responsive" %>
</div>

<div class="col-sm-6">
	<%= @project.description %>
	<p>Votes: <span id="votes"><%= @project.voteCount %></span></p>
	<p>Made by: <%= link_to @project.user.name, @project.user %></p>

  <% if (@project.votes.where(user_id: session[:user_id]).take == nil) 
    voteName = "Vote"
  else
    voteName = "Unvote"
  end%>
  
  <button class="btn btn-primary"id="voteButton"><%= voteName%></button>
  <p>Donated: <span id='donationAmount'><%= @project.donationAmount %></span> $</p> 
  <button class="btn btn-success" id="donateButton">Donate</button>
</div>

<div id='data' data-page=1 data-interval=<%= @topicsInterval %> data-size=<%= @topics.size() %> data-forum=<%= @project.forum.id %>></div>

<div class="col-xs-12 top-buffer">
	<ul class="nav nav-tabs">
    <li class="active"><a href="#description-tab" data-toggle="tab">Description<i class="fa"></i></a></li>
    <li><a href="#discussion-tab" data-toggle="tab">Discussion<i class="fa"></i></a></li>
  </ul>

  <div id="my-tab-content" class="tab-content border-around">
    <div class="tab-pane active top-buffer" id="description-tab">
      <%= sanitize @project.content, :tags => %w(a b i strong em p param h1 h2 h3 h4 h5 h6 br hr ul li img iframe) %>
    </div>

    <div class="tab-pane" id="discussion-tab">
      <div id="topics">
        <%= render partial: 'topics/topics', locals: { id: @project.forum.id, page: 1, topicsPerPage: @topicsInterval } %>
      </div>

      <div id="pageSelector">
        <button id="prev" class="glyphicon glyphicon-menu-left" aria-hidden="true"></button>
        <button id="next" class="glyphicon glyphicon-menu-right" aria-hidden="true"></button>
      </div>

      <div id="createTopic">
        <%= link_to "Create Topic", controller: "topics", action: "new", forum: @project.forum.id %>
      </div>
    </div>
  </div>
</div>