<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form>
    <div class="form-group">
      <%= f.text_area :content, class: "form-control", id: "content-editor", rows: "10", placeholder: "Content" %>
    </div>
    
    <div class="form-group" style="display: none;">
      <%= f.label :topic_id %>
      <%= f.text_field :topic_id, class: "form-control", placeholder: "Enter topic", value: @topic.id if @topic != nil %>
    </div>

    <% if @op != nil %>
      <div class="form-group" style="display: none;">
        <%= f.label :post_id %>
        <%= f.text_field :post_id, class: "form-control", placeholder: "Enter post", value: @op.id %>
      </div>
    <% end %>

    <%= f.submit class: "btn btn-primary" %>

    <% if @op != nil %>
      <a class="btn btn-default cancel">Cancel</a>
    <% end %>

  </form>

<% end %>