<%= form_for(@post) do |f| %>
	<% if @post.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

			<ul>
			<% @post.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
	<div class="post-form-parent">
		<div class="post-form-child">
			<form class="row">
				<div class="col-xs-1 post-user-img">
					<img class="img-circle text-center" style="margin-left:auto;margin-right:auto;" src=<%=getFacebookPicURL(current_user)%>>
				</div>
				<div class="form-group col-xs-9">
					<%= f.text_area :content, class: "form-control minimal-text-field", id: "content-editor", rows: "1", placeholder: "Reply ..." %>
				</div>
					<div class="form-group" style="display: none;">
						<%= f.text_field :campaign_id, value: @campaign.id  if @campaign != nil %>
					</div>

				<div class="form-group" style="display: none;">
					<%= f.text_field :post_id, value: @op.id if @op != nil %>
				</div>

				<%= f.submit "Post", class: "col-xs-1 btn btn-default minimal-orange-button pull-right" %>

				<% if @op != nil %>
					<a class="col-xs-1 btn btn-default cancel">Cancel</a>
				<% end %>
			</form>
		</div>
	</div>
<% end %>