<% first = (page.to_i - 1) * postsPerPage.to_i %>
<% last = (@posts.size() - first)%>
<% if last <= 0 %>
	<% last = 0 %>
<% end %>

<% @topic_counter = 0 %>
<% @posts.last(last).first(postsPerPage.to_i).each do |p| %>
	<% @topic_counter+=1 %>
	<!-- Topic start: start -->
	<div class="row topic post topic-card-start">
		<p class="user"><%= User.find(p.user_id).name + " - " + time_ago_in_words(p.created_at).gsub('about','') %> ago.</p>
		<div class="edit">
			<% if p.user_id == session[:user_id] || isAdmin %>
				<%= link_to 'Edit |', edit_post_path(p)%> 
				<%= link_to 'Delete', p, method: :delete, data: {confirm: "Are you sure?"} %>
			<% end %>
		</div>
		<p class="content"><%= p.content %></p>
		<div class="row topic-bottom-bar btn-group btn-group-justified" role="group" aria-label="...">
				<% userVote = p.votes.find_by(user_id: session[:user_id], post_id: p.id)
				opacity = 1
				if !session[:user_id]
					opacity = 0.5
				end %>
				<!-- <div style="position: absolute; width: 100%; height: 100%; class="vote-number-container" ">					 -->
					<!-- <p class="vote-number"><span id=<%= "post_votes_" + p.id.to_s %>><%= p.voteCount %></span></p> -->
				<!-- </div> -->
				<!-- <div class="btn-group btn-group-justified" role="group" aria-label="..."> -->
					<div class="col-xs-1 no-padding">
						<button type="button" id=<%=  p.id.to_s %> class="btn btn-downvote" aria-hidden="true" style="opacity:<%= opacity %>"
							<% if !session[:user_id] or (userVote != nil and userVote.isDownvote)%>
								disabled
							<%end%>>
						<i class="fa fa-thumbs-o-down"></i>
						</button>
					</div>
					<div class="col-xs-1 no-padding">
						<button class="btn vote-label"><span id=<%= "post_votes_" + p.id.to_s %>><%= p.voteCount %></span></button>
					</div>
					<div class="col-xs-1 no-padding">
						<button type="button" id=<%= p.id.to_s %> class="btn btn-upvote" aria-hidden="true" style="opacity:<%= opacity %>" 
							<% if !session[:user_id] or (userVote != nil and !userVote.isDownvote)%>
								disabled
							<%end%>>
							<i class="fa fa-thumbs-o-up"></i>
						</button>
					</div>
				<!-- </div> -->
			<div style="padding:0;"class="col-xs-2 pull-right text-right">
				<% if session[:user_id] %>
					<!-- <a class="btn btn-default answer" id="<%= p.id.to_s %>">Reply</a> -->
				<% end %>
			</div>
		</div>
	<!-- </div> -->
	<!-- Topic start: End -->

	<script type="text/javascript">
		// Replaces the comment-scroller content every 5th to 9th second with random topic-replies
		// (Might replace with the same element)
		$( document ).ready(function() {
			var msgPtr = 0;
			var stopAction = null;
			var modifier = 0;

			function change() {
				modifier = <%= rand(0...4) %>*1000;
			  var topicChild = document.getElementsByClassName("topic-<%= @topic_counter %>-child");
			  if (topicChild.length!=0) {
			  	document.getElementById('comment-scroller-<%= @topic_counter %>').innerHTML = topicChild[Math.floor(Math.random() * topicChild.length)].innerHTML;
			  }
			}
			function startFunction() { change();  stopAction = setInterval(change, 5000+modifier); }
			function stopFunction() { clearInterval(stopAction); }
			startFunction();
		});
	</script>

	<!-- <div id="topic<%= @post_counter %>" class="collapse"> -->
		
	<!-- Topic end: Start -->
	<div id="thread-<%= @topic_counter %>" class="initial-comments collapse">
		<!-- <div class="topic-card-end"> -->
			<%= render partial: 'posts/comments', locals: { page: 1, postsPerPage: postsPerPage, comments: p.comments } %>
		<!-- </div> -->
		<!-- <div class="answer_div" id="<%= "answer" + p.id.to_s %>"></div> -->
		<%= render partial:'posts/postForm', locals: {} %>

			<div class="row collapse-bar">
				<a class="col-xs-12 text-center" style="height: 100%; width: 100%;" data-toggle="collapse" href="#thread-<%= @topic_counter %>" aria-controls="collapse<%= @topic_counter %>" onclick="$('div#topic-expander-<%= @topic_counter %>').delay(300).slideToggle(); $('div#topic-expander-<%= @topic_counter %>').child.delay(300).slideToggle();"><i class="fa fa-angle-double-up"></i></a>
			</div>

	</div>

	<div id="topic-expander-<%= @topic_counter %>" class="topic-expander row" onclick="$(this).hide(); jQuery(this).find('#slideupper').slideUp(1000);"> <!-- $(a#<%= p.id.to_s%>).click();  -->
		<!-- <div id="slideupper" style="height: 100%; width: 100%;"> -->
			<div id="kake-<%= @topic_counter %>" class="dark-overlay" >
				<a data-toggle="collapse" href="#thread-<%= @topic_counter %>" aria-expanded="false" aria-controls="collapse<%= @topic_counter %>"></a>
				<h1 class="text-center" style="padding-top: 85px; display: none;"><i class="fa fa-comments-o"></i> Explore this topic <i class="fa fa-comments-o"></i></h1>
			</div>
			<!-- Show random immediate replies, followed by reply-field -->
			<div id="comment-scroller-<%= @topic_counter %>" class="row comment-scroller"></div>
			<hr>
			<div class="post-form-parent row" style="pointer-events:none;">
				<div class="post-form-child">
					<form class="row">
						<div class="col-xs-1 post-user-img">
							<img class="img-circle text-center" style="margin-left:auto;margin-right:auto;" src=<%=getFacebookPicURL(current_user)%>>
						</div>
						<div class="col-xs-9">
							<input class="form-control minimal-text-field" type="text" placeholder="Reply ..." >
						</div>
						<button class="col-xs-1 btn btn-default minimal-orange-button">Post</button>
					</form>
				</div>
			</div>
		<!-- </div> -->
	</div>

</div>

	<div class="data" id="<%= p.id.to_s %>" data-page='1' data-size=<%= p.comments.size %>></div>

	<% if p.comments.size > postsPerPage.to_i %>
		<div class="text-center">
			<a class="btn btn-default more_comments" id="<%= p.id.to_s %>">Show More</a>
		</div>
	<!-- Topic end: End -->
	<% end %>
<% end %>