<% if @campaign.author != nil %>
<%	@campaign_author_split = @campaign.author.split(" ")[0..1].join(" ") %> <!-- Fix plz, wrong for authors over/under 2 words -->
<% 	@campaign_link_split = @campaign.link.split("https://www.").join.split(".com").first %>
<% end %>
<div style="overflow: hidden;"><div class="text-center" id="background-blur" ></div><div id="bottom-block"></div></div> <!-- style="background-image:url(<%=@campaign.image%>);" -->
<div class="container" id="campaign-content"><!-- main-campaign"> -->
	<div class="row">
		<%= image_tag @campaign.image, class: "col-xs-5 main-campaign-image logo img-responsive" %>
		
		<div class="container col-xs-2 pull-right">
		<% if @campaign.crowdfunding_site_id.nil? %>
			<%  
			case @campaign_link_split
				when "kickstarter"
			  	@campaign_site_logo = Crowdfunding_site.all[0].logo
				when "indiegogo"
			  	@campaign_site_logo = Crowdfunding_site.all[1].logo
				else
			end
			%>
		<% else %>
			<% @campaign_site_logo = Crowdfunding_site.all[@campaign.crowdfunding_site_id-1].logo %>
		<% end %>
		<a href="<%= @campaign.link %>">
		<img class="crowdfunding-site-logo"  src="<%=@campaign_site_logo%>">
		</a>
		</div>

		<div id="info-box-group">
			<div class="row col-xs-7">
<!-- 				<div class="col-xs-2" id="campaign-info-box" title="The amassed score in all rounds">
					<h4><small>Global Score</small></h4><b><%= @campaign.globalScore %></b></div>

				<div class="col-xs-2" id="campaign-info-box" title="The amassed score in the current round">
					<h4><small>Round Score</small></h4><b><%= @campaign.roundScore %></b></div>

				<div class="col-xs-2" id="campaign-info-box" title="Times seen by a user in voting in the current round">
					<h4><small>Times Shown</small></h4><b><%= @campaign.timesShownInVoting %></b></div> -->

				<div class="col-xs-2" id="campaign-info-box">
					<h4><small>Pledged</small></h4><b><%= if @campaign.pledged >= 0 then @campaign.pledged else "Funding" end %></b></div>

				<div class="col-xs-2" id="campaign-info-box">
					<h4><small>Goal</small></h4><b><%= if @campaign.goal >= 0 then @campaign.goal else "Complete" end %></b></div>

				<div class="col-xs-2" id="campaign-info-box">
					<h4><small>Backers</small></h4><b><%= @campaign.backers %></b></div>
			</div>
		</div>
		<div class="row col-xs-7">
			<div class="col-xs-3" id="goto-site-button">
				<p><%= link_to "Go to Campaign Site", @campaign.link, class: "btn btn-primary", id: "campaign-link", target: "_blank" %></p>
				<div id="social_media">
					<%= social_share_button_tag(@campaign.title, :popup => "true", :image => @campaign.image, desc: @campaign.description) %>
				</div>
			</div>
			<div class="col-xs-2" id="nominate-button">
				<a class="btn btn-primary" id="nominate" <%= "disabled" if @campaign.nominated %>>Nominate<a>
			</div>
			<div class= "col-xs-2" style="padding-top: 20px;">
				<% if current_user && @campaign.nominated%>
					<% if !current_user.stars.exists?(round: current_round + 1, campaign_id: @campaign.id) && current_user.stars.where(round: current_round+1).count < 3%>
					<%= link_to("", "/campaigns/star/#{@campaign.id}", 
						class: "fa fa-heart-o fa-2x btn btn-default", 
						id: "star", 
						method: "post",
						title: "Fav this campaign to increase the chances of getting it in your next voting pool.") %>
					<% else %>
						<% if current_user.stars.exists?(round: current_round + 1, campaign_id: @campaign.id) %>
							<%= link_to("", "/campaigns/star/#{@campaign.id}", 
								class: "fa fa-heart fa-2x btn btn-default", 
								id: "star", 
								method: "post",
								title: "Remove from favourites.") %>
						<% else %>
							<i title="You have allready favourited 3 campaigns this round." class="fa fa-heart-o fa-2x"></i>
						<% end %>
					<% end %>
				<% end %>
			</div>
 			<div class="col-xs-5" id="edit">
 				<div id="report_link">
 					<a href="#" onclick="javascript.void(0);" id="report_campaign">Report</a>
					<!--<%= link_to "Report", "/campaigns/#{@campaign.id}/report", :method => :post, data: {confirm: "Are you sure?"} %>--> 
				</div>
				<div id="edit_link">
					<% if @campaign.user_id == session[:user_id] || isAdmin %>
						<%= link_to "Edit", edit_campaign_path(@campaign)%> 
						<!--<%= link_to "Delete", @campaign, method: :delete, data: {confirm: "Are you sure?"} %>-->
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<h2 id="campaign-title-main"><%= @campaign.title %></h2>
	<h5>By <b><%= @campaign_author_split %></b></h5>

	<div class="campaign-info">
		<div class="row">
			<h5>
				Added by <%= link_to User.find(@campaign.user_id).name, user_path(User.find(@campaign.user_id))%>
				<% if !@campaign_link_split.nil? then %> from <a href="%=@campaign.link%>"><%= @campaign_link_split.capitalize %></a> <% end %>
				<%= distance_of_time_in_words(DateTime.now, @campaign.created_at) %> ago.
			</h5>
			<p id="campaign-description" >- "<%= @campaign.description %>"</p>
		</div>
	</div>
	<!-- <h5>end_time <%= @campaign.end_time %></h5> -->
	<div class="container" id="external-content">
		<%= if @campaign.content != nil 
			render inline: @campaign.content 
		end %>
	</div>
</div>