<div class="col-xs-12">
	<% i = 0 %>
	<% @campaignVoting.each do |c| %>
		<div class="col-xs-3 campaign-container">
			<div class="campaign-vote" id="<%= i %>">
				<% i += 1 %>
				<div class="text-center">
					<h4><%= c.title %></h4>
					<div class="image-vote-container">
						<%= image_tag c.image, class: "logo img-responsive" %>
					</div>
				</div>
			</div>
		</div>
	<% end %>
</div>

<% id = 0 %>
<% @campaignVoting.each do |c| %>
	<div class="campaign-display" id=<%= id %>>
		<% @campaign = c %>
		<%= render partial: "campaigns/campaign" %>
	</div>
	<% id += 1 %>
<% end %>