<script>$('#campaign').data('step', <%= current_user.isOnStep %>);</script>
<div class="step-text text-center">
	<h1>Done Voting</h1>
</div>
<div class="col-xs-12">
	<% i = 0 %>
	<% @campaignVoting.each do |c| %>
		<div class="col-xs-4 campaign-container">
			<div class="text-center vote-star" id="<%= i %>">
					<% if c == @votedFor[0].campaign %>
						<span class="voting-done glyphicon glyphicon-star" aria-hidden="true"></span>
					<% else %>
						<span class="voting-done glyphicon glyphicon-star-empty" aria-hidden="true"></span>
					<% end %>
				</a>
			</div>
			<div class="campaign campaign-vote" id="<%= i %>" style="border: 0px;">
				<% i += 1 %>
				<div class="campaign-box">
					<div class="image-container">
						<%= image_tag c.image, class: "logo img-responsive clip", id: "vote-img" %>
					</div>
					<h4 id="campaign-title"><%= c.title %></h4>
				</div>
			</div>
		</div>
	<% end %>
</div>

<% id = 0 %>
<% @campaignVoting.each do |c| %>
	<div class="campaign-display" id=<%= id %>>
		<% @campaign = c %>
		<%= render partial: "campaigns/campaign" %>
	</div>
	<% id += 1 %>
<% end %>