	<div class="col-xs-12 main_campaign">
		<div class="image_container">
			<%= image_tag @campaign.image, class: "logo img-responsive" %>
		</div>

		<div class="text_container">
			<h3 id="campaign-title"><%= @campaign.title %></h4>
			<div class="edit">
				<% if @campaign.user_id == session[:user_id] || isAdmin %>
					<%= link_to "Edit |", edit_campaign_path(@campaign)%> 
					<%= link_to "Delete", @campaign, method: :delete, data: {confirm: "Are you sure?"} %>
				<% end %>
			</div>
			<p id="created_by"><%= link_to User.find(@campaign.user_id).name,
								user_path(User.find(@campaign.user_id))%>
								<%=  " - " + @campaign.created_at.to_s %>
			</p>
			<h5>Global Score: <%= @campaign.globalScore %></h5>
			<h5>Round Score: <%= @campaign.roundScore %></h5>
			<h5>Times seen in voting this round: <%= @campaign.timesShownInVoting %></h5>
			<P id="campaign-description" ><%= @campaign.description %></p>
			<%= link_to "Go to Campaign Site", @campaign.link, class: "btn btn-primary", id: "campaign-link", target: "_blank" %>
			<%= button_to "Nominate", 
					{controller: "campaigns",
					action: "create",
					campaign: 
						{title: @campaign.title, 
						description: @campaign.description, 
						image: @campaign.image, 
						link: @campaign.link, 
						category_id: @campaign.category_id}
					}, 
				class: "btn btn-primary", 
				id: "nominate", 
				disabled: @campaign.nominated
			%>
			<div id="social_media">
    			<%= social_share_button_tag(@campaign.title, :popup => "true", :image => @campaign.image, desc: @campaign.description) %>
  			</div>
		</div>
	</div>
	