<% if @campaign.author != nil %>
<%	@campaign_author_split = @campaign.author.split(" ")[0..1].join(" ") %> <!-- Fix plz, wrong for authors over/under 2 words -->
<% 	@campaign_link_split = @campaign.link.split("https://www.").join.split(".com").first %>
<% end %>

<script type="text/javascript">
	$( document ).ready(function() {
		var body = document.body,
		    html = document.documentElement;

		var height = Math.max( body.scrollHeight, body.offsetHeight, 
		                       html.clientHeight, html.scrollHeight, html.offsetHeight );
		$(".sheets").css("height", height-55-82);

		if (window.location.href.indexOf("#comment-section") != -1) {
			$("#external-content").css('display', 'none');
		} else {
			$("#comment-section").css('display', 'none');
		}
		// $("#content-switcher").click(function(){
		// 	console.log("sgskjhgskjdh");
		// 	if ($("#comment-section").css('display')=='none') {
		// 		$("#comment-section").css('display', 'block');
		// 		$("#external-content").css('display', 'none');
		// 	} else if($("#external-content").css('display')=='none') {
		// 		$("#external-content").css('display', 'block');
		// 		$("#comment-section").css('display', 'none');
		// 	};
		// });
		$("#content-switcher").click(function(){
			if ($("#comment-section").css('display')=='none') {
				$("#comment-section").fadeIn(250);
				$("#external-content").fadeOut(1000);
			} else if($("#external-content").css('display')=='none') {
				$("#external-content").fadeIn(250);
				$("#comment-section").fadeOut(1000);
			};
		});
	});


</script>
<div style="overflow: hidden;"><div class="text-center" id="background-blur" ></div><div id="bottom-block"></div></div> <!-- style="background-image:url(<%=@campaign.image%>);" -->
<div class="container" id="campaign-content"><!-- main-campaign"> -->
	<div class="col-md-3 left-column" id="leftCol">
		<div class="main-campaign-image">
			<div class="" style="padding:5px; position:absolute; z-index:6;">
				<% if @campaign.crowdfunding_site_id.nil? %>
					<%  
					case @campaign_link_split
						when "kickstarter"
					  	@campaign_site_logo = Crowdfunding_site.all[0].logo
						when "indiegogo"
					  	@campaign_site_logo = Crowdfunding_site.all[1].logo
						else
					end
					%>
				<% else %>
					<% @campaign_site_logo = Crowdfunding_site.all[@campaign.crowdfunding_site_id-1].logo %>

				<% end %>
				<a href="<%= @campaign.link %>">
					<img class="crowdfunding-site-logo"  src="<%=@campaign_site_logo%>">
				</a>
			</div>
			<%= image_tag @campaign.image, class: "logo img-responsive"%>
		</div>
		<div class="row card" id="box-group">
			<div class="col-xs-4" id="campaign-info-box">
				<h4><small>Pledged</small></h4><b><%= if @campaign.pledged.to_i >= 0 then number_to_currency(@campaign.pledged, :precision => 0) else "Funding" end %></b>
			</div>

			<div class="col-xs-4" id="campaign-info-box">
				<h4><small>Goal</small></h4><b><%= if @campaign.goal.to_i >= 0 then number_to_currency(@campaign.goal, :precision => 0) else "Complete" end %></b>
			</div>

			<div class="col-xs-4" id="campaign-info-box">
				<h4><small>Backers</small></h4><b><%= @campaign.backers %></b
			></div>
		</div>

		<div class="restrictor"><div id="sticky-anchor"></div></div>

		<div id="sticky">
			<div class="row campaign-info card adder-container">
				<div class="row campaign-adder-top">
					<div class="col-xs-2 no-padding adder-img"><img class="img-circle text-center" style="margin-left:auto;margin-right:auto;" 
					src= <%= getFacebookPicURL(@campaign.user)%> > </div>
					<h5 class="col-xs-10 adder-top-right">
						<%= link_to User.find(@campaign.user_id).name, user_path(User.find(@campaign.user_id))%>
						<small class="row">
							<% if !@campaign_link_split.nil? then %> 
								Source: <a href="<%=@campaign.link%>"><%= @campaign_link_split.capitalize %></a>,
							<% end %>
							<%= @campaign.created_at.strftime("%d. %b %Y") %>
						</small>
					</h5>
				</div>
				<p class="row" id="campaign-description" ><%= @campaign.description %></p>
			</div>

			<!-- <div id="content-switcher"></div> -->
			<div class="row campaign-info card topic-container">
				<div class="row">
					
					<div class="col-xs-3 no-padding content-switcher-container">
					  <input type="checkbox" id="content-switcher" class="cbx hidden"/>
					  <label for="content-switcher" class="lbl"></label>    
					</div>
					<h4 class="col-xs-9">Discussion</h4> 
				</div>
				<p class="row" id="comment-collapsed-box" >There are no topics to highlight yet. They will show up here once they exist. Click here to see discussion, or start a thread yourself.</p>
			</div>
		</div>
	</div>


	<div class="col-md-9 right-column" id="rightCol">
		<div class="container card section" id="external-content">
			<div class="container campaign-header-field" style="margin-bottom:30px; background:white; max-width:100%; border-radius:3px;">
				<h2 id="campaign-title-main"><%= @campaign.title %></h2>
				<h5>By <b><%= @campaign_author_split %></b></h5>
			</div>
			<%= if @campaign.content != nil 
				render inline: @campaign.content 
			end %>
		</div>

		<div id="comment-section" class="section"> <!-- sheet2 -->
			<% if current_user %>
			<div id="post">
				<%= render partial: "posts/postForm" %>
			</div>
			<% end %>

			<div class="posts">
				<%= render partial: "posts/posts", locals: { page: 1, postsPerPage: @postsInterval } %>
			</div>

			<% if @posts.size > @postsInterval %>
				<div class="text-center">
					<a class="btn btn-primary" id="more_posts">Show More</a>
				</div>
			<% end %>
		</div>
	</div>

</div>