<div>
	<h4><%= @campaign.title %></h4>
	<h5>GlobalScore: <%= @campaign.globalScore %></h5>
	<h5>RoundScore: <%= @campaign.roundScore %></h5>
	<div class="image_container">
		<%= image_tag @campaign.image, class: "logo img-responsive" %>
	</div>
	<% if @campaign.description.length > 130 %>
		<p><%= @campaign.description[0, 130] + "..." %></p>
	<% else %>
		<p><%= @campaign.description %></p>
	<% end %>
</div>