<%= javascript_include_tag "campaigns" %>

<div class="text-center" id="notice"><%= sanitize notice %></div>

<div id="categories">
	<%= render partial: 'categories'%>
</div>

<div id="searchBar">
	<div class="col-xs-6">
		<div class="col-xs-6">
			<input type="text" id="searchText" class="form-control" placeholder="Search"></input>
		</div>
		<button id="searchButton" class="btn btn-success">Search</button>
	</div>
	<div class="col-xs-6">
		<div class="col-xs-6" style="float: right">
			<select name="sortBy" id="sortBy" class="form-control">
				<option value="(globalScore + roundScore) DESC">Votes</option>
				<option value="title ASC">Title</option>
				<option value='roundscore DESC'>Round Score</option>
				<option value='globalscore DESC'>Global Score</option>
			</select>
		</div>
	</div>
</div>

<div id='data' data-page=1 data-interval=<%= @campaignsInterval %> data-size=<%= @campaigns.size() %> data-category="0" data-search-text=" " data-sort-by="(globalScore + roundScore) DESC">
</div>


<div class="col-sm-12 text-center campaign-list" id="campaigns">
	<%= render partial: 'campaignList', locals: { page: 1, campaignsPerPage: @campaignsInterval } %>
</div>

<div class="text-center" id="pageSelector">
	<button id="prev" class="btn btn-success glyphicon glyphicon-menu-left" aria-hidden="true"></button>
	<button id="next" class="btn btn-success glyphicon glyphicon-menu-right" aria-hidden="true"></button>
</div>
