<%= javascript_include_tag "campaigns" %>
<!-- Hotjar Tracking Code for thepodium.io -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:85656,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>

<!-- 	<div id="categories">
	<%= render partial: 'categories'%>
</div> -->

<div class="jumbotron" id="searchBar">
	<div class="col-xs-7 minimal-textfield-container">
		<input type="text" id="searchText" class=" minimal-textfield" placeholder="Find a campaign"></input>
	</div>
	<div class="col-xs-4 sort-by">
			<h3>Ordered by
			<select name="sortBy" id="sortBy" class="">
				<option value="created_at DESC">Newest</option>
				<option value="title ASC">Title</option>
				<option value='pledged DESC'>Pledged Amount</option>
				<option value='goal DESC'>Goal Amount</option>
				<option value='backers DESC'># of Backers</option>
				<option value='end_time ASC'>Remaining time</option>
				<option value='nominated DESC'>Nominees</option>
				<option value='votable DESC'>Up for Voting</option>
			</select>
			</h3>
		</div>
			<div class="col-xs-pull-1">	
		<button id="searchButton" class="btn"><i class="fa fa-search"></i></button>
	</div>
	</div>
</div>

<div id='data' data-page=1 data-interval=<%= @campaignsInterval %> data-size=<%= @campaigns.size() %> data-category="0" data-search-text=" " data-sort-by="created_at DESC">
</div>

<div class="row row-centered campaign-list" id="campaigns">
	<%= render partial: 'campaignList', locals: { page: 1, campaignsPerPage: @campaignsInterval } %>
</div>

<div class="text-center" id="pageSelector" style="margin-top: 10px; margin-bottom: 10px;">
	<button id="prev" class="btn btn-success glyphicon glyphicon-menu-left" aria-hidden="true"></button>
	<button id="next" class="btn btn-success glyphicon glyphicon-menu-right" aria-hidden="true"></button>
</div>