<%= javascript_include_tag "campaigns" %>
<%= stylesheet_link_tag "posts" %>
<%= stylesheet_link_tag "campaigns" %>

<%= link_to 'Back', campaigns_path %>

<h1>Adding Campaign</h1>

<%= render 'campaignForm' %>