<%= javascript_include_tag "campaigns" %>
<%= javascript_include_tag "posts" %>

<div id="data" data-page="1" data-interval=<%= @postsInterval %> data-size=<%= @posts.size() %> data-campaign=<%= @campaign.id %>></div>

<div id="campaign">
	<%= render partial: "campaign" %>
</div>
	<!-- Render campaign background as static background, not scrolled, with pressable button -->
	<!-- Render campaign content as card -->
	<!-- Render posts on separate card behind campaign content card -->
	<!-- |||||Swipe or press to change card -->