<%= javascript_include_tag "campaigns" %>
<%= javascript_include_tag "posts" %>

<%= stylesheet_link_tag "posts" %>
<%= stylesheet_link_tag "campaigns" %>

<p id="notice"><%= notice %></p>

<%= link_to "Back", campaigns_path %>

<div id="data" data-page="1" data-interval=<%= @postsInterval %> data-size=<%= @posts.size() %> data-campaign=<%= @campaign.id %>></div>

<div id="campaign">
	<%= render partial: "campaign" %>
</div>

<% if current_user %>
<div id="post">
	<%= render partial: "posts/postForm" %>
</div>
<% end %>

<div class="posts">
	<%= render partial: "posts/posts", locals: { page: 1, postsPerPage: @postsInterval } %>
</div>

<% if @posts.size > @postsInterval %>
	<div class="text-center">
		<a class="btn btn-primary" id="more_posts">Show More</a>
	</div>
<% end %>