<%= javascript_include_tag "campaigns" %>
<%= javascript_include_tag "posts" %>
<!-- Hotjar Tracking Code for thepodium.io -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:85656,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>


<div id="data" data-page="1" data-interval=<%= @postsInterval %> data-size=<%= @posts.size() %> data-campaign=<%= @campaign.id %>></div>

<div id="campaign">
	<%= render partial: "campaign" %>
</div>
<div class="container">
	<% if current_user %>
	<div id="post">
		<%= render partial: "posts/postForm" %>
	</div>
	<% end %>

	<div class="posts">
		<%= render partial: "posts/posts", locals: { page: 1, postsPerPage: @postsInterval } %>
	</div>

	<% if @posts.size > @postsInterval %>
		<div class="text-center">
			<a class="btn btn-primary" id="more_posts">Show More</a>
		</div>
	<% end %>
</div>