<%= javascript_include_tag "campaigns" %>
<%= javascript_include_tag "posts" %>
<!-- Hotjar Tracking Code for thepodium.io -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:85656,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>


<div id="data" data-page="1" data-interval=<%= @postsInterval %> data-size=<%= @posts.size() %> data-campaign=<%= @campaign.id %>></div>

<div id="campaign">
	<%= render partial: "campaign" %>
</div>
	<!-- Render campaign background as static background, not scrolled, with pressable button -->
	<!-- Render campaign content as card -->
	<!-- Render posts on separate card behind campaign content card -->
	<!-- |||||Swipe or press to change card -->
