<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Podium</title>

    <!-- Profectus -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src="http://cdn.embed.ly/jquery.embedly-3.1.1.min.js" type="text/javascript"></script>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
      // set the date we're counting down to
      var target_date = new Date('<%= Round.first.endTime %>').getTime(); //new Date('Jan, 31, 2017').getTime(); <% Round.first.endTime.year %>, <% Round.first.endTime.month %>, <% Round.first.endTime.day %>, <% Round.first.endTime.hour %>, <% Round.first.endTime.min %>, <% Round.first.endTime.sec %>
       
      // variables for time units
      var days, hours, minutes, seconds;
       
      // get tag element
      var countdown = document.getElementById('counter');
     
      // update the tag with id "countdown" every 1 second
      setInterval(function () {
     
        // find the amount of "seconds" between now and target
        var current_date = new Date().getTime();
        var seconds_left = (target_date - current_date) / 1000;
     
        // do some time calculations
        days = parseInt(seconds_left / 86400);
        seconds_left = seconds_left % 86400;
         
        hours = parseInt(seconds_left / 3600);
        seconds_left = seconds_left % 3600;
         
        minutes = parseInt(seconds_left / 60);
        seconds = parseInt(seconds_left % 60);

        // format countdown string + set tag value
        document.getElementById("counter").innerHTML = 
        // '<span class="days">' + days + ' Days </span>' 
        '<span class="hours">' + hours + '</span>' + //' Hours </span>'
        ' : <span class="minutes">' + minutes + '</span>' + //' Minutes. </span>' 
        ' : <span class="seconds">' + seconds + '</span> '//' Seconds </span>'
        ;
    }, 1000);
    </script>
  </head>
  <body>
    <div class="navbar navbar-default navbar-static-top navbar-xs" id="header" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            Menu <b class="caret"></b>
          </button>
          <a class="navbar-brand" href="/">
            <ul><img src="https://cloud.githubusercontent.com/assets/690017/4317652/8946bb80-3f15-11e4-8b1b-961d47232979.png" width="25px" align="middle"> Podium</ul>
          </a>
        </div> <!-- End navbar-header -->
        <div>
          <ul class="nav navbar-nav navbar-center">
          <li><a href='#' id="counter" style="left: 45px;"></a></li>
          </ul>
        </div>
        <div class="navbar-collapse collapse">
        	<ul class="nav navbar-nav navbar-left">
        		<li class="<%= 'active' if params[:controller] == 'campaigns' %>">
              <a href="/campaigns">Browse Campaigns</a>
            </li>
        		<li class="<%= 'active' if params[:controller] == 'about' %>">
              <a href="/about/index">About</a>
            </li>
        	</ul>
          <ul class="nav navbar-nav navbar-right">
              <% if current_user %>
                <li><a style="padding-right: 5px;" href="<%= user_path(current_user) %>"> <i class="fa fa-file-text-o"></i> <%=current_user.additionsThisRound%>/<%=Round.first.maxAdditionsPerUser%> </a></li><!-- style="color: gold;" Submissions-->
                <% if current_user.additionsThisRound == Round.first.maxAdditionsPerUser %>
                    <li><a style="padding-left: 0px;" href="<%= user_path(current_user) %>"> <i class="fa fa-check-square-o"></i></a></li>
                <% else %>
                    <li><a style="padding-left: 0px;" href="/campaigns/new"> <i class="fa fa-plus"></i></a></li>
                <% end %>
                <li><a href="/users/"><i class="fa fa-star" style="color: gold;"></i> <%= current_user.points %></a></li>
                <li><a href="<%= user_path(current_user) %>">
                  <img class="img-circle center-cropped" id="profile-pic" height="30" width="30" src="<%= getFacebookPicURL(current_user) %>" style="
                  margin-top: -100%;
                  margin-bottom: -100%;
                  "> <%= current_user.name.split(' ', 2).first %></a></li>
              <% else %>
                <li><a href="/auth/facebook">Login</a></li>
              <% end %>
            <% if current_user %>
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header"></li>
                  <% if isAdmin %>
                    <li><a href="/admin/">Admin Page</a></li>
                  <% end %>
                  <li><a href="/campaigns/new">Add Campaign (<%= current_user.additionsThisRound %>/<%= Round.first.maxAdditionsPerUser %>)</a></li>
                  <li><a href='/users/'>Leaderboard</a></li>
                  <li><a href='#' id='refer-a-friend' onclick="return false;">Refer-a-friend</a></li>
                  <li class="divider"></li>
                  <li> <a href="/signout">Log out</a></li>
              </ul>
              <% end %>
            </li>
          </ul>
        </div>
      </div> <!-- End container -->
	  </div> <!-- End navbar -->

    <div class="container" id="content">
      <div class="notification-container">
        <div class="text-center" id="notifications" style="display:none"></div>
      </div>
      <%= yield %>
    </div><!-- End content -->

    
    <div class="navbar navbar-inverse navbar-static-bottom" id="footer" role="navigation"><!-- Footer -->
      <div class="container">
        <div class="navbar-text pull-left">
          <p> 2015 Podium </p>
        </div>
        <div class="navbar-text pull-right">
          <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
          <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
          <a href="#"><i class="fa fa-google-plus fa-2x"></i></a>
        </div>
      </div>
    </div><!-- End footer -->
  </body>
</html>
